@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family: 'Pet';
    src: url(fonte/copyduck/Copyduck.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.major-mono-display-regular { 
    font-family: "Major Mono Display", monospace;
   
    font-style: normal;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
header{
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    background-image: linear-gradient(to left, #6e5540, #413125);
  
}
.iconlogin{
    position: absolute;
    display: block;
    margin-left:1130px ;
    margin-top:-34px ;
}
.iconlogin:hover{
    cursor: pointer;
}
header a{
    color: #F3F3F3;
    margin-left: 1100px;
    font-size: 2em;
    font-family: 'Bebas Neue';
    text-decoration: none;

}
header a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.h1title{
    padding: 45px;
    background-image: linear-gradient(to right, #fdece0, #cfbcaf);
    
}
h1{
    color: #403020;
    text-align: center;
    font-size: 2.8em;
    font-weight: bolder;
    font-family: "Pet";
    margin-bottom: -10px;
}
.iconh1{
    position: absolute;
    display: block;
    transform: rotate(42deg);
    margin-left:746px;
    margin-top: -50px;
    }
nav{
    background-image: linear-gradient(to right, #fdece0, #cfbcaf);
    padding: 5px;
    box-shadow:10px 5px 9px black;
}
nav a{
    padding:6px 18px 6px 18px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    color:#413125;
    transition: 0.5s;
    margin: 0px 1px 0px -5px;
    
    

}
nav a:hover{
    padding:6px 24px 6px 24px;
    background-color:#413125 ;
    color: #ffffff;
    transition: 0.7s;

}
.imgp{
    opacity: 0.8;
}