@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

p {
    text-align: justify;
}

main{
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #05141898;
}

h1{
    color:#BDE038 ;
    text-align: center;
    text-shadow: 1px 1px 2px #728822;

}
h2{
    color: #818274;

}

body{
    background-image:linear-gradient(to right, #506266, #10454F);
}

